executor="lsf" 
common_options="-sla Pipeline -P ngs -We 500 -R \"rusage[iounits=1]\""
projname="PROJECT_NAME_TOBE_REPLACED"
userid="USERID_TOBE_REPLACED"

commands {
	link_read {
		jobname = "${projname}_${userid}_LINK_READ"
		procs = 1
		lsf_request_options = "-M 4 -R \"rusage[mem=4]\" -R \"span[ptile=1]\" $common_options"
	}
	merge_read {
		jobname = "${projname}_${userid}_MERGE_READ"
		procs = 1
		lsf_request_options = "-M 4 -R \"rusage[mem=4]\" -R \"span[ptile=1]\" $common_options"
	}
	trim_read {
		jobname = "${projname}_${userid}_TRIM_READ"
		procs = 1
		lsf_request_options = "-M 4 -R \"rusage[mem=4]\" -R \"span[ptile=1]\" $common_options"
	}
	compress_read {
		jobname = "${projname}_${userid}_COMPRESS_READ"
		procs = 1
		lsf_request_options = "-M 4 -R \"rusage[mem=4]\" -R \"span[ptile=1]\" $common_options"
	}
	run_tophat {
		jobname = "${projname}_${userid}_TOPHAT2"
		procs = 6
		lsf_request_options = "-M 15 -R \"rusage[mem=15]\" -R \"span[ptile=6]\" $common_options"
	}
	reorder_sam {
		jobname = "${projname}_${userid}_REORDER_SAM"
		procs = 1
		lsf_request_options = "-M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	run_cufflinks {
		jobname = "${projname}_${userid}_CUFFLINKS"
		procs = 12
		lsf_request_options = "-M 15 -R \"rusage[mem=15]\" -R \"span[ptile=12]\" $common_options"
	}
	sort_sam_query_name{
		jobname = "${projname}_${userid}_SORT_SAM_QUERYNAME"
		procs = 1
		lsf_request_options = "-M 90 -R \"rusage[mem=90]\" -R \"span[ptile=1]\" $common_options"
	}
	run_htseq {
 		jobname = "${projname}_${userid}_HTSEQ"
 		procs = 1
		lsf_request_options = "-M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	run_dexseq {
		jobname = "${projname}_${userid}_DEXSEQ"
		procs = 1
		lsf_request_options = "-M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	collect_rnaseq_metrics {
		jobname = "${projname}_${userid}_CRM"
		procs = 1
		lsf_request_options = "-M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	collect_alignment_summary_metrics {
		jobname = "${projname}_${userid}_ASM"
		procs = 1
		lsf_request_options = "-M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	run_star_1p {
		jobname = "${projname}_${userid}_STAR_1PASS"
		procs = 12
		lsf_request_options = "-M 40 -R \"rusage[mem=40]\" -R \"span[ptile=12]\" $common_options"
	}
	run_star_2p_gg {
		jobname = "${projname}_${userid}_STAR_GG2"
		procs = 12
		lsf_request_options = "-M 40 -R \"rusage[mem=40]\" -R \"span[ptile=12]\" $common_options"
	}
	run_star_2p {
		jobname = "${projname}_${userid}_STAR_2PASS"
		procs = 12
		lsf_request_options = "-M 40 -R \"rusage[mem=40]\" -R \"span[ptile=12]\" $common_options"
	}
	run_star_processing {
		jobname = "${projname}_${userid}_SP"
		procs = 1
		lsf_request_options = "-M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	add_group {
		jobname = "${projname}_${userid}_AORRG"
		procs = 1
		lsf_request_options = "-M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}	
	run_chimerascan {
		jobname = "${projname}_${userid}_CHIMERASCAN"
		procs = 6
		lsf_request_options = "-M 10 -R \"rusage[mem=10]\" -R \"span[ptile=6]\" $common_options"
	}
	run_star_fusion {
		jobname = "${projname}_${userid}_STAR_FUSION"
		procs = 6
		lsf_request_options = "-M 20 -R \"rusage[mem=20]\" -R \"span[ptile=6]\" $common_options"
	}
	run_mapsplice {
		jobname = "${projname}_${userid}_MAPSPLICE"
		procs = 6
		lsf_request_options = "-M 15 -R \"rusage[mem=15]\" -R \"span[ptile=6]\" $common_options"
	}
	run_defuse {
		jobname = "${projname}_${userid}_DEFUSE"
		procs = 12
		lsf_request_options = "-M 150 -R \"rusage[mem=150]\" -R \"span[ptile=12]\" $common_options"
	}
	run_fusioncatcher {
		jobname = "${projname}_${userid}_FUSIONCATCHER"
		procs = 6
		lsf_request_options = "-M 15 -R \"rusage[mem=15]\" -R \"span[ptile=6]\" $common_options"
	}
	merge_fusion {
		jobname = "${projname}_${userid}_MERGE_FUSION"
		procs = 1
		lsf_request_options = "-M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	run_bowtie2 {
		jobname = "${projname}_${userid}_BOWTIE2"
		procs = 24
		lsf_request_options = "-M 60 -R \"rusage[mem=60]\" -R \"span[ptile=24]\" $common_options"
	}
	run_express {
		jobname = "${projname}_${userid}_EXPRESS"
		procs = 5
		lsf_request_options = "-M 15 -R \"rusage[mem=15]\" -R \"span[ptile=5]\" $common_options"
	}
	run_kallisto {
		jobname = "${projname}_${userid}_KALLISTO"
		procs = 1
		lsf_request_options = "-M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	run_rsem {
		jobname = "${projname}_${userid}_RSEM"
		procs = 8
		lsf_request_options = "-M 30 -R \"rusage[mem=30]\" -R \"span[ptile=8]\" $common_options"
	}
	run_rsem_plot {
		jobname = "${projname}_${userid}_RSEM_PLOT"
		procs = 1
		lsf_request_options = "-M 1 -R \"rusage[mem=1]\" -R \"span[ptile=1]\" $common_options"
	}
	count_matrix_htseq {
		jobname = "${projname}_${userid}_MATRIX_HTSEQ"
		procs = 1
		lsf_request_options = "-M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	count_matrix_dexseq {
		jobname = "${projname}_${userid}_MATRIX_DEXSEQ"
		procs = 1
		lsf_request_options = "-M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	count_matrix_kallisto {
		jobname = "${projname}_${userid}_MATRIX_KALLISTO"
		procs = 1
		lsf_request_options = "-M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	count_matrix_rsem {
		jobname = "${projname}_${userid}_MATRIX_RSEM"
		procs = 1
		lsf_request_options = "-M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	merge_alignment_summary {
		jobname = "${projname}_${userid}_MERGE_ASM"
		procs = 1
		lsf_request_options = "-M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	merge_rnaseq_metrics {
		jobname = "${projname}_${userid}_MERGE_CRM"
		procs = 1
		lsf_request_options = "-M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	merge_cutadapt_metrics {
		jobname = "${projname}_${userid}_MERGE_CAS"
		procs = 1
		lsf_request_options = "-M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	run_deseq_star {
 		jobname = "${projname}_${userid}_DESEQ_STAR"
 		procs = 1
		lsf_request_options = "-M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	run_deseq_tophat {
 		jobname = "${projname}_${userid}_DESEQ_TOPHAT"
 		procs = 1
		lsf_request_options = "-M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	run_deseq_kallisto {
 		jobname = "${projname}_${userid}_DESEQ_KALLISTO"
 		procs = 1
		lsf_request_options = "-M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	run_deseq_rsem {
 		jobname = "${projname}_${userid}_DESEQ_RSEM"
 		procs = 1
		lsf_request_options = "-M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	run_cleanup {
 		jobname = "${projname}_${userid}_CLEANUP"
 		procs = 1
		lsf_request_options = "-M 1 -R \"rusage[mem=1]\" -R \"span[ptile=1]\" $common_options"
	}
	run_rsync {
 		jobname = "${projname}_${userid}_RSYNC"
 		procs = 1
		lsf_request_options = "-M 1 -R \"rusage[mem=1]\" -R \"span[ptile=1]\" $common_options"
	}
	run_remove_partial_file {
 		jobname = "${projname}_${userid}_REMOVE_PARTIAL_FILE"
 		procs = 1
		lsf_request_options = "-M 1 -R \"rusage[mem=1]\" -R \"span[ptile=1]\" $common_options"
	}
}




























