executor="lsf" 
common_options="-sla Pipeline -P ngs -We 500 -R \"rusage[iounits=1]\""
projname="PROJECT_NAME_TOBE_REPLACED"


commands {
	link_read {
		jobname = "${projname}_LINK_READ"
		lsf_request_options = "-n 1 -M 4 -R \"rusage[mem=4]\" -R \"span[ptile=1]\" $common_options"
	}
	merge_read {
		jobname = "${projname}_MERGE_READ"
		lsf_request_options = "-n 1 -M 4 -R \"rusage[mem=4]\" -R \"span[ptile=1]\" $common_options"
	}
	trim_read {
		jobname = "${projname}_TRIM_READ"
		lsf_request_options = "-n 1 -M 4 -R \"rusage[mem=4]\" -R \"span[ptile=1]\" $common_options"
	}
	compress_read {
		jobname = "${projname}_COMPRESS_READ"
		lsf_request_options = "-n 1 -M 4 -R \"rusage[mem=4]\" -R \"span[ptile=1]\" $common_options"
	}
	run_tophat {
		jobname = "${projname}_TOPHAT2"
		lsf_request_options = "-n 6 -M 15 -R \"rusage[mem=15]\" -R \"span[ptile=6]\" $common_options"
	}
	reorder_sam {
		jobname = "${projname}_REORDER_SAM"
		lsf_request_options = "-n 1 -M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	run_cufflinks {
		jobname = "${projname}_CUFFLINKS"
		lsf_request_options = "-n 12 -M 15 -R \"rusage[mem=15]\" -R \"span[ptile=12]\" $common_options"
	}
	sort_sam_query_name{
		jobname = "${projname}_SORT_SAM_QUERYNAME"
		lsf_request_options = "-n 1 -M 90 -R \"rusage[mem=90]\" -R \"span[ptile=1]\" $common_options"
	}
	run_htseq {
 		jobname = "${projname}_HTSEQ"
		lsf_request_options = "-n 1 -M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	run_dexseq {
		jobname = "${projname}_DEXSEQ"
		lsf_request_options = "-n 1 -M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	collect_rnaseq_metrics {
		jobname = "${projname}_CRM"
		lsf_request_options = "-n 1 -M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	collect_alignment_summary_metrics {
		jobname = "${projname}_ASM"
		lsf_request_options = "-n 1 -M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	run_star_1p {
		jobname = "${projname}_STAR_1PASS"
		lsf_request_options = "-n 12 -M 40 -R \"rusage[mem=40]\" -R \"span[ptile=12]\" $common_options"
	}
	run_star_2p_gg {
		jobname = "${projname}_STAR_GG2"
		lsf_request_options = "-n 12 -M 40 -R \"rusage[mem=40]\" -R \"span[ptile=12]\" $common_options"
	}
	run_star_2p {
		jobname = "${projname}_STAR_2PASS"
		lsf_request_options = "-n 12 -M 40 -R \"rusage[mem=40]\" -R \"span[ptile=12]\" $common_options"
	}
	run_star_processing {
		jobname = "${projname}_SP"
		lsf_request_options = "-n 1 -M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	add_group {
		jobname = "${projname}_AORRG"
		lsf_request_options = "-n 1 -M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}	
	run_chimerascan {
		jobname = "${projname}_CHIMERASCAN"
		lsf_request_options = "-n 6 -M 10 -R \"rusage[mem=10]\" -R \"span[ptile=6]\" $common_options"
	}
	run_star_fusion {
		jobname = "${projname}_STAR_FUSION"
		lsf_request_options = "-n 6 -M 20 -R \"rusage[mem=20]\" -R \"span[ptile=6]\" $common_options"
	}
	run_mapsplice {
		jobname = "${projname}_MAPSPLICE"
		lsf_request_options = "-n 6 -M 15 -R \"rusage[mem=15]\" -R \"span[ptile=6]\" $common_options"
	}
	run_defuse {
		jobname = "${projname}_DEFUSE"
		lsf_request_options = "-n 12 -M 150 -R \"rusage[mem=150]\" -R \"span[ptile=12]\" $common_options"
	}
	run_fusioncatcher {
		jobname = "${projname}_FUSIONCATCHER"
		lsf_request_options = "-n 6 -M 15 -R \"rusage[mem=15]\" -R \"span[ptile=6]\" $common_options"
	}
	merge_fusion {
		jobname = "${projname}_MERGE_FUSION"
		lsf_request_options = "-n 1 -M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	run_bowtie2 {
		jobname = "${projname}_BOWTIE2"
		lsf_request_options = "-n 24 -M 60 -R \"rusage[mem=60]\" -R \"span[ptile=24]\" $common_options"
	}
	run_express {
		jobname = "${projname}_EXPRESS"
		lsf_request_options = "-n 5 -M 15 -R \"rusage[mem=15]\" -R \"span[ptile=5]\" $common_options"
	}
	run_kallisto {
		jobname = "${projname}_KALLISTO"
		lsf_request_options = "-n 1 -M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	count_matrix_htseq {
		jobname = "${projname}_MATRIX_HTSEQ"
		lsf_request_options = "-n 1 -M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	count_matrix_dexseq {
		jobname = "${projname}_MATRIX_DEXSEQ"
		lsf_request_options = "-n 1 -M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	merge_alignment_summary {
		jobname = "${projname}_MERGE_ASM"
		lsf_request_options = "-n 1 -M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	merge_rnaseq_metrics {
		jobname = "${projname}_MERGE_CRM"
		lsf_request_options = "-n 1 -M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	merge_cutadapt_metrics {
		jobname = "${projname}_MERGE_CAS"
		lsf_request_options = "-n 1 -M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
	run_deseq {
 		jobname = "${projname}_DESEQ"
		lsf_request_options = "-n 1 -M 10 -R \"rusage[mem=10]\" -R \"span[ptile=1]\" $common_options"
	}
}




























